:root {
  box-sizing: border-box;
  background-color: #333;
  font-family: "Bebas Neue", cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

img {
  height: 100vh;
}

.logo {
  font-family: "Bangers", cursive;
}

#attribution {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
}
