* {
  margin: 0;
  border: 0;
}

body {
  color: #cdcdcd;
  background-color: #1b1b1b;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  font-family: monospace;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex: 1 1 33%;
}

.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 33%;
  background-image: url(./assets/dima-solomin-3ioe4Dirzcg-unsplash.jpg);
  background-position: center;
  background-size: 300%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Bangers", cursive;
  font-size: 3.5rem;
  position: relative;
  top: 20%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  color: #fff;
  width: 100%;
}

.container {
  flex: 2 1 66%;
}

.fields {
  color: #ff97a0;
  background-color: #4e4e4e;
  margin: 15px 0;
}

.names,
.contact,
.password {
  display: flex;
  flex-wrap: wrap;
}

input {
  padding: 5px;
  border: 2px solid lightgrey;
  border-radius: 15px;
}

input:focus {
  outline: 0;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

input:invalid {
  border: 2px solid red;
  background-color: rgb(255, 167, 167);
}

button {
  margin: 10px;
  padding: 5px 15px;
  font-size: large;
  border-radius: 15px;
}

button:hover {
  outline: 0;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2),
    2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
}
